/* CSS Variables */
:root {
    --primary: lightblue;
    --primaryHover: burlywood;
}

* {
    margin: 0;
    padding: 0;
}

/* GOOGLE FONTS */
.container {
    height: 100%;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 350px auto 100px;
}

.header {
    text-align: center;
    font-family: "Roboto";
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: var(--primary);
    font-size: 4rem;
    line-height: 350px;
    background-image: url("https://images.unsplash.com/photo-1522836419305-eee4fc982fa5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1805&q=80");
    opacity: 0.6;
    color: white;
}

.menu {
    grid-column: 1/4;
}
.menu > ul {
    list-style-type: none;
}
.menu > ul >li {
    margin: 15px 10px;
    background-color: var(--primary);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    font-family: "Roboto";
}
.menu > ul > li:hover {
    background-color: var(--primaryHover);
    cursor: pointer;
}

.content {
    grid-column: 4/-1;
    padding: 15px;
    font-family: "Roboto";
}

.footer {
    grid-column: 1/-1;
    text-align: center;
    line-height: 100px;
    padding: 15px;
    font-family: "Roboto";
}
